In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("YT Data Set 1C.csv")

In [3]:
df

,Category,Video ID,Title,Channel,Channel ID,Published At,Description,Views,Likes,Comments,Duration (Minutes:Seconds),Tags/Keywords,Subscriber Count,Thumbnail URL
0,Arts & Culture,6VlO0yJuj_8,Art & Culture Top 50 MCQs June 2023 Updated | ...,SSC Adda247,UCAyYBPzFioHUxvVZEn4rMJA,2023-06-13T14:20:14Z,Art & Culture Top 50 MCQs June 2023 Updated | ...,333581,19539,686,13:46,"important art and culture ssc, important art a...",8000000,https://i.ytimg.com/vi/6VlO0yJuj_8/default.jpg
1,Arts & Culture,hQ1aYndYgJ4,"ART & CULTURE DEPARTMENT ZAIPAWL VOL-1, disc 3",A&C Mizoram,UCydP2aV8KErUJI2QoO5Bjcw,2020-12-01T07:29:44Z,He video hi hmun danga upload phala nilo,603993,5100,433,56:46:00,NaN,27900,https://i.ytimg.com/vi/hQ1aYndYgJ4/default.jpg
2,Arts & Culture,hyRpCa9Qv48,Understanding the Value of Arts and Culture | ...,ahrcpress,UC4oFqK01f4STG5UJ72JAbdw,2016-04-20T09:35:15Z,The debate over the value and impact of arts a...,46954,352,6,02:58,"AHRC, Arts and Humanties Research Council, Art...",2880,https://i.ytimg.com/vi/hyRpCa9Qv48/default.jpg
3,Arts & Culture,nLU2f3pfCs8,Delhi Police 2023 Exam | à¤•à¤²à¤¾ à¤à¤µà¤‚ à...,Rojgar with Ankit,UC5H9MzrMkJ5iuN11vV2PLhA,2023-11-07T16:28:07Z,Delhi Police 2023 Exam | à¤•à¤²à¤¾ à¤à¤µà¤‚ à...,1659779,86921,1718,155:40:00,"art & culture class, art & culture for ssc chs...",11800000,https://i.ytimg.com/vi/nLU2f3pfCs8/default.jpg
4,Arts & Culture,r3bLtn8DLYo,EDU in 90: Google Arts & Culture,Google for Education,UCt84aUC9OG6di8kSdKzEHTQ,2018-08-22T22:30:01Z,Curious to learn more about Google Arts & Cult...,14615,136,3,02:45,"Google Classroom, Chromebook, Google Earth, Go...",466000,https://i.ytimg.com/vi/r3bLtn8DLYo/default.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10184,Travel & Adventure,UCkOEEcyoaUu-6nM-fmQ9jMg,Always choosing this â˜€ï¸ðŸï¸ #Travel #Ad...,Steven Daliva,UCkOEEcyoaUu-6nM-fmQ9jMg,2024-03-18T10:35:49Z,NaN,2075,78,2,00:17,NaN,74,https://i.ytimg.com/vi/1GDB6wlSM5w/default.jpg
10185,Travel & Adventure,UC0VS45BTHzmoIqR9Ovxhlwg,Adventures fill your soul ðŸª‚ðŸ’ªâ¤ï¸ #trav...,Nature savvy,UC0VS45BTHzmoIqR9Ovxhlwg,2024-03-16T16:57:12Z,@NatureSavvy... \nAdventures fill your soul\n#...,4,2,0,00:12,NaN,4,https://i.ytimg.com/vi/fCK5W-EVnsI/default.jpg
10186,Travel & Adventure,UCBz6JnEN2jKGWLK1b86jUKg,ROG || HYDERABAD || 650 TWINS || VIZAG_COLONY ...,The_Interceptor_guy,UCBz6JnEN2jKGWLK1b86jUKg,2024-03-18T15:12:40Z,"""Embark on a journey with The_Interceptor_guy ...",415,17,2,00:20,NaN,27,https://i.ytimg.com/vi/Ypm3KWlm0Fw/default.jpg
10187,Travel & Adventure,UCOTZbz1Hw7ohL5Wkk05x_oQ,#travel #adventure #nature #zipline #mountains...,Haseeb Malik ðŸ¤—,UCOTZbz1Hw7ohL5Wkk05x_oQ,2024-03-17T10:58:52Z,NaN,6541,135,0,00:17,NaN,1650,https://i.ytimg.com/vi/xvsSkBRKu1k/default.jpg
10188,Travel & Adventure,UCdsJ15JOpVYne4qYxQe7UfQ,ACCIDENT on ganga river mirzapur // #trending ...,Atharva Live7,UCdsJ15JOpVYne4qYxQe7UfQ,2024-03-16T05:13:35Z,NaN,473,14,0,00:07,NaN,411,https://i.ytimg.com/vi/kSUBaJ0GkAM/default.jpg

In [4]:
df.shape

(10189, 14)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10189 entries, 0 to 10188
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Category                    10189 non-null  object
 1   Video ID                    10189 non-null  object
 2   Title                       10189 non-null  object
 3   Channel                     10189 non-null  object
 4   Channel ID                  10189 non-null  object
 5   Published At                10189 non-null  object
 6   Description                 8493 non-null   object
 7   Views                       10189 non-null  int64
 8   Likes                       10189 non-null  int64
 9   Comments                    10189 non-null  int64
 10  Duration (Minutes:Seconds)  10189 non-null  object
 11  Tags/Keywords               7022 non-null   object
 12  Subscriber Count            10189 non-null  int64
 13  Thumbnail URL               10189 non-null  object
dtypes: int64(4), object(10)
memory usage: 1.1+ MB

In [6]:
df.dtypes

Category                      object
Video ID                      object
Title                         object
Channel                       object
Channel ID                    object
Published At                  object
Description                   object
Views                          int64
Likes                          int64
Comments                       int64
Duration (Minutes:Seconds)    object
Tags/Keywords                 object
Subscriber Count               int64
Thumbnail URL                 object
dtype: object

In [7]:
df.isnull().sum()

Category                         0
Video ID                         0
Title                            0
Channel                          0
Channel ID                       0
Published At                     0
Description                   1696
Views                            0
Likes                            0
Comments                         0
Duration (Minutes:Seconds)       0
Tags/Keywords                 3167
Subscriber Count                 0
Thumbnail URL                    0
dtype: int64

In [8]:
df[["Published_Date","Published_Time"]] = df['Published At'].str.split('T',expand=True)

In [9]:
df["Published_Time"] = df['Published_Time'].str.replace("Z","")

In [10]:
df

,Category,Video ID,Title,Channel,Channel ID,Published At,Description,Views,Likes,Comments,Duration (Minutes:Seconds),Tags/Keywords,Subscriber Count,Thumbnail URL,Published_Date,Published_Time
0,Arts & Culture,6VlO0yJuj_8,Art & Culture Top 50 MCQs June 2023 Updated | ...,SSC Adda247,UCAyYBPzFioHUxvVZEn4rMJA,2023-06-13T14:20:14Z,Art & Culture Top 50 MCQs June 2023 Updated | ...,333581,19539,686,13:46,"important art and culture ssc, important art a...",8000000,https://i.ytimg.com/vi/6VlO0yJuj_8/default.jpg,2023-06-13,14:20:14
1,Arts & Culture,hQ1aYndYgJ4,"ART & CULTURE DEPARTMENT ZAIPAWL VOL-1, disc 3",A&C Mizoram,UCydP2aV8KErUJI2QoO5Bjcw,2020-12-01T07:29:44Z,He video hi hmun danga upload phala nilo,603993,5100,433,56:46:00,NaN,27900,https://i.ytimg.com/vi/hQ1aYndYgJ4/default.jpg,2020-12-01,07:29:44
2,Arts & Culture,hyRpCa9Qv48,Understanding the Value of Arts and Culture | ...,ahrcpress,UC4oFqK01f4STG5UJ72JAbdw,2016-04-20T09:35:15Z,The debate over the value and impact of arts a...,46954,352,6,02:58,"AHRC, Arts and Humanties Research Council, Art...",2880,https://i.ytimg.com/vi/hyRpCa9Qv48/default.jpg,2016-04-20,09:35:15
3,Arts & Culture,nLU2f3pfCs8,Delhi Police 2023 Exam | à¤•à¤²à¤¾ à¤à¤µà¤‚ à...,Rojgar with Ankit,UC5H9MzrMkJ5iuN11vV2PLhA,2023-11-07T16:28:07Z,Delhi Police 2023 Exam | à¤•à¤²à¤¾ à¤à¤µà¤‚ à...,1659779,86921,1718,155:40:00,"art & culture class, art & culture for ssc chs...",11800000,https://i.ytimg.com/vi/nLU2f3pfCs8/default.jpg,2023-11-07,16:28:07
4,Arts & Culture,r3bLtn8DLYo,EDU in 90: Google Arts & Culture,Google for Education,UCt84aUC9OG6di8kSdKzEHTQ,2018-08-22T22:30:01Z,Curious to learn more about Google Arts & Cult...,14615,136,3,02:45,"Google Classroom, Chromebook, Google Earth, Go...",466000,https://i.ytimg.com/vi/r3bLtn8DLYo/default.jpg,2018-08-22,22:30:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10184,Travel & Adventure,UCkOEEcyoaUu-6nM-fmQ9jMg,Always choosing this â˜€ï¸ðŸï¸ #Travel #Ad...,Steven Daliva,UCkOEEcyoaUu-6nM-fmQ9jMg,2024-03-18T10:35:49Z,NaN,2075,78,2,00:17,NaN,74,https://i.ytimg.com/vi/1GDB6wlSM5w/default.jpg,2024-03-18,10:35:49
10185,Travel & Adventure,UC0VS45BTHzmoIqR9Ovxhlwg,Adventures fill your soul ðŸª‚ðŸ’ªâ¤ï¸ #trav...,Nature savvy,UC0VS45BTHzmoIqR9Ovxhlwg,2024-03-16T16:57:12Z,@NatureSavvy... \nAdventures fill your soul\n#...,4,2,0,00:12,NaN,4,https://i.ytimg.com/vi/fCK5W-EVnsI/default.jpg,2024-03-16,16:57:12
10186,Travel & Adventure,UCBz6JnEN2jKGWLK1b86jUKg,ROG || HYDERABAD || 650 TWINS || VIZAG_COLONY ...,The_Interceptor_guy,UCBz6JnEN2jKGWLK1b86jUKg,2024-03-18T15:12:40Z,"""Embark on a journey with The_Interceptor_guy ...",415,17,2,00:20,NaN,27,https://i.ytimg.com/vi/Ypm3KWlm0Fw/default.jpg,2024-03-18,15:12:40
10187,Travel & Adventure,UCOTZbz1Hw7ohL5Wkk05x_oQ,#travel #adventure #nature #zipline #mountains...,Haseeb Malik ðŸ¤—,UCOTZbz1Hw7ohL5Wkk05x_oQ,2024-03-17T10:58:52Z,NaN,6541,135,0,00:17,NaN,1650,https://i.ytimg.com/vi/xvsSkBRKu1k/default.jpg,2024-03-17,10:58:52
10188,Travel & Adventure,UCdsJ15JOpVYne4qYxQe7UfQ,ACCIDENT on ganga river mirzapur // #trending ...,Atharva Live7,UCdsJ15JOpVYne4qYxQe7UfQ,2024-03-16T05:13:35Z,NaN,473,14,0,00:07,NaN,411,https://i.ytimg.com/vi/kSUBaJ0GkAM/default.jpg,2024-03-16,05:13:35

In [11]:
columns_to_drop = ["Published At","Description","Tags/Keywords","Thumbnail URL"]
df.drop(columns=columns_to_drop,inplace=True)

In [12]:
df.head(5)

,Category,Video ID,Title,Channel,Channel ID,Views,Likes,Comments,Duration (Minutes:Seconds),Subscriber Count,Published_Date,Published_Time
0,Arts & Culture,6VlO0yJuj_8,Art & Culture Top 50 MCQs June 2023 Updated | ...,SSC Adda247,UCAyYBPzFioHUxvVZEn4rMJA,333581,19539,686,13:46,8000000,2023-06-13,14:20:14
1,Arts & Culture,hQ1aYndYgJ4,"ART & CULTURE DEPARTMENT ZAIPAWL VOL-1, disc 3",A&C Mizoram,UCydP2aV8KErUJI2QoO5Bjcw,603993,5100,433,56:46:00,27900,2020-12-01,07:29:44
2,Arts & Culture,hyRpCa9Qv48,Understanding the Value of Arts and Culture | ...,ahrcpress,UC4oFqK01f4STG5UJ72JAbdw,46954,352,6,02:58,2880,2016-04-20,09:35:15
3,Arts & Culture,nLU2f3pfCs8,Delhi Police 2023 Exam | à¤•à¤²à¤¾ à¤à¤µà¤‚ à...,Rojgar with Ankit,UC5H9MzrMkJ5iuN11vV2PLhA,1659779,86921,1718,155:40:00,11800000,2023-11-07,16:28:07
4,Arts & Culture,r3bLtn8DLYo,EDU in 90: Google Arts & Culture,Google for Education,UCt84aUC9OG6di8kSdKzEHTQ,14615,136,3,02:45,466000,2018-08-22,22:30:01

In [13]:
df.isnull().sum()

Category                       0
Video ID                       0
Title                          0
Channel                        0
Channel ID                     0
Views                          0
Likes                          0
Comments                       0
Duration (Minutes:Seconds)     0
Subscriber Count               0
Published_Date                 0
Published_Time                50
dtype: int64

In [14]:
df = df.dropna()
df

,Category,Video ID,Title,Channel,Channel ID,Views,Likes,Comments,Duration (Minutes:Seconds),Subscriber Count,Published_Date,Published_Time
0,Arts & Culture,6VlO0yJuj_8,Art & Culture Top 50 MCQs June 2023 Updated | ...,SSC Adda247,UCAyYBPzFioHUxvVZEn4rMJA,333581,19539,686,13:46,8000000,2023-06-13,14:20:14
1,Arts & Culture,hQ1aYndYgJ4,"ART & CULTURE DEPARTMENT ZAIPAWL VOL-1, disc 3",A&C Mizoram,UCydP2aV8KErUJI2QoO5Bjcw,603993,5100,433,56:46:00,27900,2020-12-01,07:29:44
2,Arts & Culture,hyRpCa9Qv48,Understanding the Value of Arts and Culture | ...,ahrcpress,UC4oFqK01f4STG5UJ72JAbdw,46954,352,6,02:58,2880,2016-04-20,09:35:15
3,Arts & Culture,nLU2f3pfCs8,Delhi Police 2023 Exam | à¤•à¤²à¤¾ à¤à¤µà¤‚ à...,Rojgar with Ankit,UC5H9MzrMkJ5iuN11vV2PLhA,1659779,86921,1718,155:40:00,11800000,2023-11-07,16:28:07
4,Arts & Culture,r3bLtn8DLYo,EDU in 90: Google Arts & Culture,Google for Education,UCt84aUC9OG6di8kSdKzEHTQ,14615,136,3,02:45,466000,2018-08-22,22:30:01
...,...,...,...,...,...,...,...,...,...,...,...,...
10184,Travel & Adventure,UCkOEEcyoaUu-6nM-fmQ9jMg,Always choosing this â˜€ï¸ðŸï¸ #Travel #Ad...,Steven Daliva,UCkOEEcyoaUu-6nM-fmQ9jMg,2075,78,2,00:17,74,2024-03-18,10:35:49
10185,Travel & Adventure,UC0VS45BTHzmoIqR9Ovxhlwg,Adventures fill your soul ðŸª‚ðŸ’ªâ¤ï¸ #trav...,Nature savvy,UC0VS45BTHzmoIqR9Ovxhlwg,4,2,0,00:12,4,2024-03-16,16:57:12
10186,Travel & Adventure,UCBz6JnEN2jKGWLK1b86jUKg,ROG || HYDERABAD || 650 TWINS || VIZAG_COLONY ...,The_Interceptor_guy,UCBz6JnEN2jKGWLK1b86jUKg,415,17,2,00:20,27,2024-03-18,15:12:40
10187,Travel & Adventure,UCOTZbz1Hw7ohL5Wkk05x_oQ,#travel #adventure #nature #zipline #mountains...,Haseeb Malik ðŸ¤—,UCOTZbz1Hw7ohL5Wkk05x_oQ,6541,135,0,00:17,1650,2024-03-17,10:58:52
10188,Travel & Adventure,UCdsJ15JOpVYne4qYxQe7UfQ,ACCIDENT on ganga river mirzapur // #trending ...,Atharva Live7,UCdsJ15JOpVYne4qYxQe7UfQ,473,14,0,00:07,411,2024-03-16,05:13:35

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10139 entries, 0 to 10188
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Category                    10139 non-null  object
 1   Video ID                    10139 non-null  object
 2   Title                       10139 non-null  object
 3   Channel                     10139 non-null  object
 4   Channel ID                  10139 non-null  object
 5   Views                       10139 non-null  int64
 6   Likes                       10139 non-null  int64
 7   Comments                    10139 non-null  int64
 8   Duration (Minutes:Seconds)  10139 non-null  object
 9   Subscriber Count            10139 non-null  int64
 10  Published_Date              10139 non-null  object
 11  Published_Time              10139 non-null  object
dtypes: int64(4), object(8)
memory usage: 1.0+ MB

In [16]:
df.duplicated().sum()

911

In [17]:
df.drop_duplicates(inplace=True)

C:\Users\shaha\AppData\Local\Temp\ipykernel_28836\3006716147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True)

In [18]:
df.duplicated().sum()

0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9228 entries, 0 to 10188
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Category                    9228 non-null   object
 1   Video ID                    9228 non-null   object
 2   Title                       9228 non-null   object
 3   Channel                     9228 non-null   object
 4   Channel ID                  9228 non-null   object
 5   Views                       9228 non-null   int64
 6   Likes                       9228 non-null   int64
 7   Comments                    9228 non-null   int64
 8   Duration (Minutes:Seconds)  9228 non-null   object
 9   Subscriber Count            9228 non-null   int64
 10  Published_Date              9228 non-null   object
 11  Published_Time              9228 non-null   object
dtypes: int64(4), object(8)
memory usage: 937.2+ KB

In [20]:
df["Published_Date"] = pd.to_datetime(df["Published_Date"])

C:\Users\shaha\AppData\Local\Temp\ipykernel_28836\2924761304.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Published_Date"] = pd.to_datetime(df["Published_Date"])

In [21]:
df["Published_Time"] = pd.to_timedelta(df["Published_Time"])

C:\Users\shaha\AppData\Local\Temp\ipykernel_28836\3019887064.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Published_Time"] = pd.to_timedelta(df["Published_Time"])

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9228 entries, 0 to 10188
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Category                    9228 non-null   object
 1   Video ID                    9228 non-null   object
 2   Title                       9228 non-null   object
 3   Channel                     9228 non-null   object
 4   Channel ID                  9228 non-null   object
 5   Views                       9228 non-null   int64
 6   Likes                       9228 non-null   int64
 7   Comments                    9228 non-null   int64
 8   Duration (Minutes:Seconds)  9228 non-null   object
 9   Subscriber Count            9228 non-null   int64
 10  Published_Date              9228 non-null   datetime64[ns]
 11  Published_Time              9228 non-null   timedelta64[ns]
dtypes: datetime64[ns](1), int64(4), object(6), timedelta64[ns](1)
memory usage: 937.2+ KB

In [23]:
df.to_csv("My Persoanl YT File.csv")

In [ ]:
df["Published_At"] = df["Published_Date"].str.cat(df["Published_Time"], sep=" ")

In [ ]:
df.head(5)

In [ ]:
df.dtypes

In [ ]:
df["Published_At"] = pd.to_datetime(df["Published_At"])

In [ ]:
df.dtypes

In [ ]:
df.isnull().sum()

In [ ]:
drop_Date_Time = ["Published_Time","Published_Date"]
df.drop(columns=drop_Date_Time,inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df = df.dropna()
df

In [ ]:
df.info()

In [ ]:
df.duplicated().sum()

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.duplicated().sum()

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
unique_category = df["Category"].unique()
unique_category

In [ ]:
df["Category"].value_counts()

In [ ]:
df.head(10)

In [ ]:
df['Duration (hh:mm:ss)'] = df['Duration (Minutes:Seconds)'].apply(lambda x:f"00:{x}")

In [ ]:
split_duration = df['Duration (Minutes:Seconds)'].str.split(':',expand=True)

In [ ]:
df['Duration'] = pd.to_timedelta(split_duration[0].astype(int), unit='h') + pd.to_timedelta(split_duration[1].astype(int),unit='m')

In [ ]:
Duration_drop_column = ["Duration (Minutes:Seconds)","Duration (hh:mm:ss)"]
df.drop(columns=Duration_drop_column,inplace=True)

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df

In [ ]:
df.to_csv("YouTube_Data_Final_Project_01.csv")